span.twitter-typeahead .tt-menu,
span.twitter-typeahead .tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  width: 100%;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
span.twitter-typeahead .tt-suggestion {
  display: block;
  padding: 1px 1px;
  clear: both;
  font-weight: normal;
  color: #333333;
  white-space: nowrap;
}
